//Accueil

.page_body{
        display: flex;
        width: 100%;
        justify-content: center;
        ul, li{
                list-style-type: none;
                margin: 0;
                padding: 0;
        }
}

.page_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 90%;
        margin-top: 4vh;
        gap: 3.5vw;
}

.page_section{ //Différentes parties de la page
        display: flex;
        flex-direction: column;
        gap: 2vh;
}

.tab_small,
.tab_medium,
.tab_large{ //Taleaux d'affichage des événements
        display: flex;
        flex-direction: column;
        width: 23vw;
        background-color: rgb(var(--color-baie));
        border-radius: 10px;
        padding:5px 10px 10px;
        overflow: hidden;
        box-shadow: 0px 0px 8px rgb(var(--color-baie-transparent));
}

.tab_small{
        max-height: 35vh;
}

.tab_medium{
        height: 48vh;
}

.tab_large{
        height: 85vh;
}

.tab_content{
        display: flex;
        flex-direction: column;
        background-color: rgb(var(--color-background));
        height: inherit;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        h3{
                text-align: center;
                font-size: 20px;
                font-weight: 500;
                color: rgb(var(--color-baie));
        }
}

.tab_header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;

        span{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: rgb(var(--color-background));
        }

        p{
                font-size: 24px;
                font-weight: 500;
                color: rgb(var(--color-background));
                margin: 0;
        }
}

.activity{ //Etiquettes d'événements
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: inherit;
        background-color: rgb(var(--color-background));
        border-bottom: 1px solid rgb(var(--color-baie-transparent));

        .activity_header{
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: rgb(var(--color-baie-transparent));
                padding: 3px;

                h2{
                        font-size: 20px;
                        font-weight: 500;
                        color: rgb(var(--color-baie));
                        margin: 0;
                }

                img{
                        width: 25px;
                        height: auto;
                        margin-right: 5px;
                }

                /*input[type="checkbox"]{ Bouton à cocher non-fonctionnel mais stylisé
                        appearance: none;
                        border-radius: 7px;
                        border: solid 3px rgb(var(--color-baie-brun));
                        width: 25px;
                        height: 25px;
                        background-color: rgb(var(--color-background));
                        display: grid;
                        place-content: center;
                }
                input[type="checkbox"]::before {
                        content: "";
                        width: 25px;
                        height: 25px;
                        transform: scale(0);
                        box-shadow: inset 1em 1em var(--color-baie-brun);
                }
                input[type="checkbox"]:checked::before {
                        transform: scale(1);
                }*/
        }
        .activity_body{
                display: flex;
                flex-direction: row;
                padding: 5px 10px;
                border-left: solid 1px rgb(var(--color-baie-transparent));
                width: 98%;
                align-self: center;
                align-items: center;
                justify-content: space-between;

                h3{
                        display: none;
                        font-size: 18px;
                        font-weight: 600;
                        color: rgb(var(--color-baie));
                        margin: 0;
                }

                div{
                        display: flex;
                        flex-direction: column;
                        h2{
                                font-size: 18px;
                                font-weight: 500;
                                color: rgb(var(--color-baie));
                                margin: 0 0 5px;
                        }
                        p{
                                font-size: 14px;
                                font-weight: 400;
                                color: rgb(var(--color-baie));
                                margin: 0;
                        }
                }
        }
}

//Différentes couleurs pour les événements

/*
.activity{
        background-color: rgb(var(--color-background));
        border-bottom: 1px solid rgb(var(--color-isabelle-transparent));

        .activity_header{
                background-color: rgb(var(--color-isabelle-transparent));
                h2{
                        color: rgb(var(--color-isabelle));
                }
        }
        .activity_body{
                border-left: solid 1px rgb(var(--color-isabelle-transparent));
                h3{
                        color: rgb(var(--color-isabelle));
                }
                div{
                        display: flex;
                        flex-direction: column;
                        h2{
                                color: rgb(var(--color-isabelle));
                        }
                        p{
                                color: rgb(var(--color-isabelle));
                        }
                }
        }
}

.activity{
        background-color: rgb(var(--color-background));
        border-bottom: 1px solid rgb(var(--color-aubere-transparent));

        .activity_header{
                background-color: rgb(var(--color-aubere-transparent));
                h2{
                        color: rgb(var(--color-aubere));
                }
        }
        .activity_body{
                border-left: solid 1px rgb(var(--color-aubere-transparent));
                h3{
                        color: rgb(var(--color-aubere));
                }
                div{
                        display: flex;
                        flex-direction: column;
                        h2{
                                color: rgb(var(--color-aubere));
                        }
                        p{
                                color: rgb(var(--color-aubere));
                        }
                }
        }
}

.activity{
        background-color: rgb(var(--color-background));
        border-bottom: 1px solid rgb(var(--color-alezan-transparent));

        .activity_header{
                background-color: rgb(var(--color-alezan-transparent));
                h2{
                        color: rgb(var(--color-alezan));
                }
        }
        .activity_body{
                border-left: solid 1px rgb(var(--color-alezan-transparent));
                h3{
                        color: rgb(var(--color-alezan));
                }
                div{
                        display: flex;
                        flex-direction: column;
                        h2{
                                color: rgb(var(--color-alezan));
                        }
                        p{
                                color: rgb(var(--color-alezan));
                        }
                }
        }
}

.activity{
        background-color: rgb(var(--color-background));
        border-bottom: 1px solid rgb(var(--color-baie-brun-transparent));

        .activity_header{
                background-color: rgb(var(--color-baie-brun-transparent));
                h2{
                        color: rgb(var(--color-baie-brun));
                }
        }
        .activity_body{
                border-left: solid 1px rgb(var(--color-baie-brun-transparent));
                h3{
                        color: rgb(var(--color-baie-brun));
                }
                div{
                        display: flex;
                        flex-direction: column;
                        h2{
                                color: rgb(var(--color-baie-brun));
                        }
                        p{
                                color: rgb(var(--color-baie-brun));
                        }
                }
        }
}

*/

.activity:hover{
        background: linear-gradient(to right, white, rgb(var(--color-baie-transparent-fond)));
        cursor: pointer;
        .activity_body{
                h3{
                        display: block;
                }
        }
}

.dashboard_desc{
        border-left: 1px solid rgb(var(--color-baie-transparent));
        display: flex;
        flex-direction: column;
        height: 35vh;
        h1{
                color: rgb(var(--color-baie-brun));
                font-weight: 500;
                font-size: 26px;
                margin: 0;
        }
        h2{
                font-weight: 400;
                font-size: 20px;
                color: rgb(var(--color-baie));
                margin: 0;
        }
        img{
                width: 25px;
                height: auto;
                margin-right: 5px;
        }
        div{
                background: linear-gradient(to right, rgb(var(--color-baie-transparent-fond)), 80%, rgb(var(--color-background)));
                padding-left: 5px;
        }
        img{
                width: 25px;
                margin-right: 5px;
        }
        span{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 10px 0 0 5px;
        }
        p{
                font-weight: 600;
                font-size: 16px;
                color: rgb(var(--color-baie));
                margin: 0;
        }
}

.page_desc{
        border-left: 1px solid rgb(var(--color-baie-transparent));
        display: flex;
        flex-direction: column;
        width: 30vw;
        padding-bottom: 3vh;
        h1{
                font-size: 26px;
                padding-left: 5px;
        }
        h2{
                font-size: 20px;
                padding: 5px 0 5px 5px;
        }
        h1, h2{
                background: linear-gradient(to right, rgb(var(--color-baie-transparent-fond)), 80%, rgb(var(--color-background)));
                font-weight: 500;
                color: rgb(var(--color-baie));
                margin: 0;
        }
        div{
                width: inherit;
                display: flex;
                justify-content: center;
                margin-top: 5vh;
        }
        .sub_pages{
                align-self: left;
                padding-right: webkit-fill-available;
                a{
                        font-size: 20px;
                        color: rgb(var(--color-baie-brun));
                        font-weight: 500;
                }
        }
}






//Profil

.settings_group{
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        div{
                width: 30vw;
                height: 2px;
                background: linear-gradient(to right, rgb(var(--color-baie)), 90%, rgb(var(--color-background)));
        }
        a{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: rgb(var(--color-baie));
                font-size: 24px;
                font-weight: 500;
                padding: 15px 10px;
                border: 2px solid;
                border-top: 0;
                border-right: 0;
                margin-top: 10px;
        }
        a:hover{
                background: linear-gradient(to right, rgba(246,230,206,0.3), rgb(var(--color-background)));
                cursor: pointer;
        }
        img{
                width: 25px;
                height: auto;
                margin-right: 15px;
        }
        h2{
                font-weight: 500;
                font-size: 26px;
                margin: 0 0 10px 10px;
                color: rgb(var(--color-text));
        }
}