@use 'sass:color';

//Formulaires
.container {
        padding: 7rem 2.5rem 3rem;
        border-radius: 15px;
        background-color: var(--card);
        box-shadow: 0 0 10px rgba(var(--color-text), 0.1);
        width: fit-content;
        
        .inputs_container{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                
                input{
                        width: 32rem;
                        padding: 1.2rem 1rem;
                        border: none;
                        border-radius: 10px;
                        font-size: 24px;
                        color: var(--color-text);
                        background-color: rgb(var(--color-rouan));
                        margin-top: 10px;
                        font-weight: 400;
                        font-family: 'QuickSand', sans-serif;
                }
                label{
                        font-size: 26px;
                        display: flex;
                        flex-direction: column;
                }
                input::placeholder {
                        color: rgb(var(--color-gris));
                }
        }
}
.link{
        color: rgb(var(--color-text));
        text-decoration: none;
        font-size: 16px;
        margin-top: 1rem;
        margin-bottom: 4rem;
                &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                }
}
.button_container {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
      }


//Pages de connexion et inscription
.form_page{
        justify-content: center;
        height: 100vh;

        .title{
                font-size: 55px;
                letter-spacing: 3px;
                font-weight: 400;
        }
        .title{
                color: rgb(var(--color-text));
        }
}

.container,
.welcome_page,
.form_page{
        display: flex;
        flex-direction: column;
        align-items: center;
}

.error {
  color: rgb(var(--color-error));
  font-size: 0.9rem;
  margin-top: -0.5rem;
}
