@use 'sass:color';

//Formulaires
.container {
    padding: 7rem 2.5rem 3rem;
    border-radius: 15px;
    background-color: rgba(var(--color-background-transparent));
    box-shadow: 0 0 10px rgba(var(--color-text), 0.05);
    width: fit-content;
    form {
      gap: 3rem;
      display: flex;
      flex-direction: column;
    }

    input {
      width: 32rem;
      padding: 1.2rem 1rem;
      border: none;
      border-radius: 10px;
      font-size: 24px;
      color: rgb(var(--color-text));
      background-color: rgb(var(--color-rouan));
      margin-top: 10px;
      font-weight: 400;
      font-family: 'QuickSand', sans-serif;
    }
    label{
        font-size: 26px;
        display: flex;
        flex-direction: column;
    }
    .brown_link{
        color: rgb(var(--color-baie-brun));
        text-decoration: none;
        font-size: 23px;
        font-weight: 500;
        margin-top: 1rem;
        margin-bottom: 4rem;
        &:hover{
                text-decoration: underline;
                cursor: pointer;
        }
        }
    input::placeholder {
        color: rgb(var(--color-gris));
    }
    div{
        display: flex;
        flex-direction: row;
        gap: 3rem;
        margin-bottom: 2rem;
    }

}


//Pages de connexion et inscription
.form_page{
        justify-content: center;
        height: 100vh;
        background-image: url("/photo_dos_poney.webp");
        background-size: cover;
        background-position-y: 43%;
        .brown_title,
        .title{
                font-size: 55px;
                letter-spacing: 3px;
                font-weight: 400;
        }
        .brown_title{
                color: rgb(var(--color-baie-brun));
        }
        .title{
                color: rgb(var(--color-text));
        }
}

.container,
.welcome_page,
.form_page{
        display: flex;
        flex-direction: column;
        align-items: center;
}


//Page de bienvenue
.welcome_page{
        height: 100vh;
        background-color: rgb(var(--color-rouan));

        //Haut de la page de bienvenue
        .welcome_upper_page{
                margin-top: 1rem;
                padding: 8vh 0 37vh;
                background-image: url("/photo_dos_poney.webp");
                background-size: cover;
                background-position-y: 56%;
                margin: 0;
        }

        //Bas de la page de bienvenue
        .welcome_bottom_page{
                flex-direction: column;
                padding-top: 7vh;
                p {
                        font-weight: 500;
                        font-size: 18px;
                        color: rgb(var(--color-text));
                        max-width: 325px;
                        text-align: center;
                        line-height: 23px;
                }
        }

        .welcome_upper_page,
        .welcome_bottom_page{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
        }

        //Logo
        img{
                width: 184px;
                height: 184px;
        }
}

//Boutons blancs
.white_button{
        background-color: rgb(var(--color-background));
        color: rgb(var(--color-text));
        padding: 1rem 4.5rem;
}

//Boutons marrons
.brown_button{
        background-color: rgb(var(--color-baie));
        color: rgb(var(--color-text));
        padding: 1rem 4rem;
        cursor: pointer;
        border: none;
        color: rgb(var(--color-background));
        align-self: center;
}

//Boutons marron clair
.light_brown_button{
        background-color: rgb(var(--color-isabelle));
        color: rgb(var(--color-background));
        padding: 0.5rem 2rem;
}

.brown_button,
.light_brown_button,
.white_button {
        font-weight: 400;
        border-radius: 3rem;
        font-size: 26px;
        text-decoration: none;
        font-family: 'QuickSand', sans-serif;
}





.error {
  color: rgb(var(--color-error));
  font-size: 0.9rem;
  margin-top: -0.5rem;
}
