@use 'sass:color';
@use '../base/mixins' as *;


//Pages de connexion et inscription
.form_page{
        justify-content: center;
        align-items: center;
        align-self: center;
        background-color: var(--background-paper);
        min-height: 100vh;
}

.container,
.form_page{
        display: flex;
        flex-direction: column;
        align-items: center;
}

.error {
  color: rgb(var(--color-error));
  font-size: 0.9rem;
  margin-top: -0.5rem;
}
