@use "sass:map";

$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1024px,
  large: 1280px
);

@mixin respond-to($device) {
  @media (max-width: map.get($breakpoints, $device)) {
    @content;
  }
}
@mixin respond-from($device) {
  @media (min-width: map.get($breakpoints, $device)) {
    @content;
  }
}
@mixin respond-between($min, $max) {
  @media (min-width: map.get($breakpoints, $min)) and (max-width: map.get($breakpoints, $max)) {
    @content;
  }
}
